<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>WaifuDB</title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body class="text-center" style="background-color: aquamarine; font-family: 'Muli';font-size: 22px;">
        <h1 class="mt-5 mb-5">WaifuDB</h1>
        <div class="mt-5">
            <a href="/tambah-waifu"><button class="btn btn-primary">Tambah waifu</button></a>
            <a href="/list-waifu"><button class="btn btn-primary">List waifu</button></a>
        </div>
    </body>
</html>